<html>
    <head>
        <meta charset="UTF-8" />
        <link type="text/css" rel="stylesheet" href="style/screen.css" />
    </head>
    <body>
        <div id="contacts"></div>
        <script id="contactTemplate" type="text/template">
            <img src="<%= photo %>" alt="<%= name %>" />
            <h1><%= name %><span><%= type %></span></h1>
            <div><%= address %></div>
            <dl>
                <dt>Tel:</dt>
                <dd><%= tel %></dd>
                <dt>Email:</dt> 
                <dd><a href="mailto:<%= email %>"><%= email %></a></dd>
            </dl>
        </script>
        <script type="text/javascript" src="script/jquery-1.7.2.js"></script>
        <script type="text/javascript" src="script/json2.js"></script>
        <script type="text/javascript" src="script/underscore.js"></script>
        <script type="text/javascript" src="script/backbone.js"></script>

        <script type="text/javascript" src="script/app.js"></script>

    </body>
</html>
